@import "tailwindcss";

@font-face {
  font-display: swap; 
  font-family: 'Bona Nova' sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/bona-nova-v11-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Bona Nova' sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/bona-nova-v11-latin-700.woff2') format('woff2'); 
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Bona Nova';
  box-sizing: border-box;
  line-height: 1;
}

.ant-input-outlined:focus-within{
  box-shadow: 0 0 2px #CC9600;
  border-color: #CC9600;
}

.ant-input-outlined:hover{
  border-color: #CC9600;
}

.containers{
  padding: 0 50px;
  max-width: 1200px;
  margin: auto;
}

.header{
  padding: 10px 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../../public/HeaderTopBg.png);
  background-position: right;
}

.box{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, white ,#fff7f0a9);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.login-box{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  backdrop-filter: blur(3px);
}

.hero{
  background-image: url(../../public/heroBg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 713px;
}

.hero__title{
  font-size: 48px;
  text-align: center;
  background: radial-gradient(#CC9600, #FF7700);
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  line-height: 1.2;
}

.header__menu{
  background-image: url(../../public/menuBg.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.swipper2{
  display: none !important;
}

.single-box1{
  width: 40%;
  height: 89vh;
  background: linear-gradient(90deg, black 50%, white 50%);
  padding: 50px 0 0 50px !important;
}

.single-box2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 89vh;
  background: white;
  padding: 50px 0 0 50px !important;
}

::-webkit-scrollbar{
  display: none;
}

::selection {
  color: white;
  background: #ff7700e2;
}


@keyframes rise1 {
  0% {
    transform: translateY(100%) rotate(0); 
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(-360deg);
    opacity: 1;
  }
}

.rising-logo3,
.rising-logo1 {
  position: absolute;
  animation: rise1 33s ease-out infinite;
  z-index: -1;
}

.rising-logo5,
.rising-logo8{
  position: absolute;
  animation: rise1 20s ease-out infinite;
  animation-delay: 2s;
  z-index: -1;
  transition-delay: 2;
}

.rising-logo10,
.rising-logo6{
  position: absolute;
  animation: rise1 15s ease-out infinite;
  animation-delay: 2s;
  z-index: -1;
  transition-delay: 3;
}

.rising-logo4,
.rising-logo2{
  position: absolute;
  animation: rise1 25s ease-out infinite;
  animation-delay: 2s;
  z-index: -1;
  transition-delay: 1;
}

.rising-logo7,
.rising-logo9{
  position: absolute;
  animation: rise1 28s ease-out infinite;
  animation-delay: 2s;
  z-index: -1;
  transition-delay: 2;
}

.swiper-pagination-bullet{
  width: 18px !important;
  height: 18px !important;
  border: 2px solid #64AEF4;
  background: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active{
  width: 18px !important;
  height: 18px !important;
  background: #64AEF4 !important;
}

@media (max-width: 1199.5px) {}


@media (max-width: 991.5px) {
  .hero__title{
    font-size: 44px;
  }


}

@media (max-width: 767.5px) {
.hero__title{
  font-size: 40px;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet{
  width: 16px !important;
  height: 16px !important;
}

.swipper1{
  display: none !important;
}

.swipper2{
  display: block !important;
}

.single-box1{
  width: 100%;
  height: 100%;
  padding: 30px 0 0 30px !important;
}

.single-box2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
  padding: 30px 30px 0 30px !important;
  background: linear-gradient(90deg, black 50%, white 50%);
}

}

@media (max-width: 575.5px) {
  .containers{
    padding: 0 10px;
  }

.header{
  padding: 10px
}

.hero__title{
  font-size: 32px;
}

.hero{
  background-image: url(../../public/heroMobileBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet{
  width: 14px !important;
  height: 14px !important;
}

.single-box1{
  background: #000;
}

.single-box2{
  flex-direction: column;
  gap: 50px;
  padding: 30px 30px 0 30px !important;
  background:  white ;
}

.author_about,
.author-info{
  color: #000;
}

}

